<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Notice</title>
</head>
<body>
<h1>Create New Notice</h1>
<form th:action="@{/notices}" th:object="${notice}" method="post">
    <div>
        <label>Title:</label>
        <input type="text" th:field="*{title}" />
    </div>
    <div>
        <label>Content:</label>
        <textarea th:field="*{content}"></textarea>
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>
</body>
</html>
